<button class="default" routerLink="/showbook">Back</button>
<div class="card">
    <h1>{{msgPage}}</h1>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="col-md-6">
        <div class="form-group">
            <label>
                Book Name
            </label>
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="book.name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required" class="text-danger">Book Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>
                Author Name
            </label>
            <input type="text" class="form-control" [(ngModel)]="book.author" formControlName="author"
                [ngClass]="{ 'is-invalid': submitted && f.author.errors }" />
            <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
                <div *ngIf="f.author.errors.required" class="text-danger">Author Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>
                Isbn
            </label>
            <input type="text" class="form-control" [(ngModel)]="book.isbn" formControlName="isbn"
                [ngClass]="{ 'is-invalid': submitted && f.isbn.errors }" />
            <div *ngIf="submitted && f.isbn.errors" class="invalid-feedback">
                <div *ngIf="f.isbn.errors.required" class="text-danger">Isbn is required</div>
                <div *ngIf="f.isbn.errors.pattern" class="text-danger">Please enter Valid Isbn "e.g.123-456-7890"</div>
            </div>
        </div>
        <div class="form-group">
            <label>
                No Copies
            </label>
            <input type="text" class="form-control" [(ngModel)]="book.no_copies" formControlName="no_copies"
                [ngClass]="{ 'is-invalid': submitted && f.no_copies.errors }" />
            <div *ngIf="submitted && f.no_copies.errors" class="invalid-feedback">
                <div *ngIf="f.no_copies.errors.required" class="text-danger">No Copies is required</div>
                <div *ngIf="f.no_copies.errors.pattern" class="text-danger">Please enter numeric values only</div>
            </div>
        </div>
        <div class="form-group">
            <label>
                Price
            </label>
            <input type="text" class="form-control" [(ngModel)]="book.price" formControlName="price"
                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required" class="text-danger">Price is required</div>
                <div *ngIf="f.price.errors.pattern" class="text-danger">Please Enter Numeric Values only</div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="col-md-12 btn btn-success">Submit</button>
        </div>
    </form>
</div>