
<h1>
    {{title}}
</h1>

<!--


-->

<!--
<div class=card>
    <div class=container>
      <div>
          <input type="image" src="assets/img/delete.png" align="right" alt="Delete" widht="45" height="45"/>
          <input type="image" src="assets/img/edit.png" align="right" alt="Edit" widht="45" height="50">
      </div>
       
        <h1>Android</h1>
        <p>Autor Name: Ali Jan, Isbn: 159-3689-987, No Copies: 1000, Price: 100</p>
    </div>
</div>
 -->

<!--<app-books></app-books>-->

<router-outlet></router-outlet>

<!--<app-add-form>
    
</app-add-form>-->